@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

:root {
    --bg-color: rgba(11, 53, 83, 1);
    --titulo: rgba(255, 255, 255, 1);
    --task-1: rgba(47, 174, 191, 1);
    --task-2: rgba(243, 113, 45, 1);
    --task-3: rgba(255, 250, 128, 1);
    --font-color: rgba(190, 247, 255, 1);
    --font: "Zen Maru Gothic", serif;
}

* {
    font-family: var(--font);
    font-weight: 700;
    background-color: var(--bg-color);
}

